<%= content_for(:title, 'edit user') %>
<h1>Editing user</h1>

<%= render 'form' %>

<%#= link_to 'Show', @user, { :class => "btn btn-primary new-user" } %> 
<%#= link_to 'Back', users_path, { :class => "btn btn-primary new-user" } %>
